
/*  layout */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}

ul, ol { list-style: none;}
a {text-decoration: none; color: black;}

#wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

#wrapper > header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #d7d7d7;
}
#wrapper > header div{
    margin: 0 auto;
    width: 1000px;
    height: 78px;
}

#wrapper > main {
    width: 1000px;
    height: auto;
    box-sizing: border-box;
    margin: 5px auto;

}
#wrapper > main > div {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 5px;
    overflow: hidden;
}
#wrapper > main .banner {
    width: 670px;
    height: 320px;
    box-sizing: border-box;
    float: left;
}
#wrapper > main .call {
    width: 326px;
    height: 133px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    float: right;
}
#wrapper > main .qna {
    width: 326px;
    height: 182px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    float: right;
    margin-top: 5px;
}

#wrapper > main section { 
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
}
#wrapper > main section > aside {
    clear: both;
    width: 195px;
    height: 760px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    float: left;
    position: relative;
}
#wrapper > main section > article {
    width: 800px;
    height: 250px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    float: right;  
}

#wrapper > main section > article:nth-of-type(2) {
    margin: 5px 0;
}

footer {
    width: 1000px;
    height: 130px;
    border: 1px solid #d7d7d7;
    border-top: 2px solid #777777;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* main */